[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Bradly Goodner
	email = 46427195+bradlygoodner@users.noreply.github.com
[core]
	editor = code --wait
